* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23314a;
    display: flex;
    justify-content: center;
    margin: 10rem;
}

.caixa {
    background-color: #db8084;
    height: auto;
    width: 90%;
    padding: 4rem;
    max-width: 840px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    border: 2px #8fa1b1 solid;
    box-shadow: #52565a  0px 5px 15px;
}

h1 {
    font-size: 40px;
}

.paragrafo {
    font-size: 20px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: #8fa1b1;
    font-size: 15px;
    padding: 10px 20px;
    border: 1px #db8084 solid;
    border-radius: 10px;
    box-shadow: #52565a  0px 5px 15px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    transform: translateY(2px)
}

.botao-tarefa, .botao-limpar {
    display: block;
}

p {
    text-align: center;
    margin-bottom: 15px;
}

input {
    background-color: #ffffff93;
    border: #8fa1b1 solid 2px;
    margin-bottom: 15px;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
}

ul li {
    background-color: #ffffff93;
    border: #8fa1b1 solid 2px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.botao {
    background-color: #e8cccd;
    font-size: 15px;
    padding: 5px 20px;
    border: 1px #8fa1b1 solid;
    border-radius: 5px;
    box-shadow: #52565a  0px 5px 15px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin: 3px;
    padding: 1.5px;
}